<h1>Dictionary Program</h1>

<h2>These are the words currently in the dictionary:</h2>
<ol type="I">
  <% @words.each() do |word| %>
    <li><a href="/words/<%= word.id() %>"><%= word.name() %></a></li>
  <% end %>
</ol>

<a href="/words/new">Add New Word</a>

<form action="/new_word" method="post">
  <label for="new_word">Word to be added:</label>
  <input id="new_word" name="new_word" type="text">
  <button type="submit">Add Word To Dictionary</button>
</form>
