<h1>Success!</h2>

<h2>You have added a new definition (<%= @new_def %>) to the word: <%= @word.word() %>.</h2>

<a href="/words/<%= @word.id %>">Return to Definition List for <%= @word.word() %></a>
<a href="/">Return to Dictionary</a>
